[project]
	description = ??
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ryugimin
[access "refs/for/refs/*"]
	read = group user/ryugimin
	push = group user/ryugimin
	label-Code-Review = -2..+2 group user/ryugimin
	label-Verified = -1..+1 group user/ryugimin
	rebase = group user/ryugimin
	removeReviewer = group user/ryugimin
	submit = group user/ryugimin
[access "refs/heads/*"]
	read = group user/ryugimin
	create = group user/ryugimin
	push = +force group user/ryugimin
	pushMerge = group user/ryugimin
[access "refs/tags/*"]
	push = +force group user/ryugimin
	pushTag = group user/ryugimin
	pushSignedTag = group user/ryugimin
